
{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{cc.midhead_text}}</h1>
            <span class="subheading">{{cc.heading_text}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
   
  <div class="dropdown">
    <a  href="/"<button type="button" class="btn btn-primary" >
      Click to go on main page
    </button></a>

  </div>
</div>
  <!-- Main Content -->
  
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <h5><u>Category:</u></h5>
                          <h7 class="post-subtitle">
               {{post.category}}
              </h7>
              
              <h5><u>Problem Description:</u></h5>
              <h7 class="post-subtitle">
               {{post.tagline}}
              </h7>
              <p class="post-meta">Posted by Admin
              on {{post.date}}</p>
               <h5><u>Solution:</u></h5>{{post.content}}
          </div>
          
            <hr>
            <hr>
        
        </li>
          {% endfor %}
        <!-- Pager -->

      </div>
    </div>
  </div>
      
  {% endblock %}

